#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

/* Font Size */

h1 {
    font-family: 'Open Sans';
}

p {
    font-family: 'Roboto';
}



/* Text Alignment in HTML */

#l-align {
    text-align: left;
    border: 1px solid black;
    /* to set the border*/
}

#c-align {
    text-align: center;
    border: 1px solid black;
    /* to set the border*/
}

#r-align {
    text-align: right;
    border: 1px solid black;
    /* to set the border*/
}

/* Colour Text */

.cases_text {
    color: #2590c8;
}

.deaths_text {
    color: #d13141;
}